.grid {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  /* margin-top:5% */
}

.purp{
  background: yellow;
   -webkit-font-smoothing: antialiased;
}
